

<ion-header>
  <ion-toolbar>
    <ion-title>JongSnam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-list>
        <ion-item *ngFor="let store of this.getstore" (click)="clickstore(store.id_store)">
            <table>
                <img style="width: 50x; height: 50px;" src="data:image/png;base64,{{store.picture_store}}">
            </table>
            <tr>
                <th>
                    ชื่อร้าน :
                </th>
                <br>
                <th>
                    เบอร์โทร :
                </th>

            </tr>
            <tr>
                <th>
                    {{store.name_store}}
                </th>
                <br>
                <th>
                    {{store.telephone_store}}
                </th>

            </tr>



        </ion-item>

      </ion-list>

</ion-content>

